WcfServiceKLShop/MVCKLShop/Service References/ServiceReferenceSanPham/ServiceSanPham2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceKLShop" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceKLShop" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSanPham">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SanPham" nillable="true" type="tns:SanPham" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSanPham" nillable="true" type="tns:ArrayOfSanPham" />
  <xs:complexType name="SanPham">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gia" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HinhAnh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KichThuoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaDM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaSP" type="xs:int" />
      <xs:element minOccurs="0" name="MauSac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoTa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoLuong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenSP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SanPham" nillable="true" type="tns:SanPham" />
</xs:schema>