WcfServiceKLShop/WFORMKLShop/Service References/ServiceReferenceDanhMucSP/ServiceDanhMucSP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDanhMucSP" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1932/ServiceDanhMucSP.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1932/ServiceDanhMucSP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1932/ServiceDanhMucSP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceKLShop" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDanhMucSP_All_InputMessage">
    <wsdl:part name="parameters" element="tns:All" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_SuaDanhMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaDanhMuc" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_SuaDanhMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaDanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_XoaDanhMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaDanhMuc" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_XoaDanhMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaDanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_ThemDanhMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemDanhMuc" />
  </wsdl:message>
  <wsdl:message name="IServiceDanhMucSP_ThemDanhMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemDanhMucResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDanhMucSP">
    <wsdl:operation name="All">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDanhMucSP/All" message="tns:IServiceDanhMucSP_All_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDanhMucSP/AllResponse" message="tns:IServiceDanhMucSP_All_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaDanhMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDanhMucSP/SuaDanhMuc" message="tns:IServiceDanhMucSP_SuaDanhMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDanhMucSP/SuaDanhMucResponse" message="tns:IServiceDanhMucSP_SuaDanhMuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaDanhMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDanhMucSP/XoaDanhMuc" message="tns:IServiceDanhMucSP_XoaDanhMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDanhMucSP/XoaDanhMucResponse" message="tns:IServiceDanhMucSP_XoaDanhMuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemDanhMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDanhMucSP/ThemDanhMuc" message="tns:IServiceDanhMucSP_ThemDanhMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDanhMucSP/ThemDanhMucResponse" message="tns:IServiceDanhMucSP_ThemDanhMuc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDanhMucSP" type="tns:IServiceDanhMucSP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="All">
      <soap:operation soapAction="http://tempuri.org/IServiceDanhMucSP/All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaDanhMuc">
      <soap:operation soapAction="http://tempuri.org/IServiceDanhMucSP/SuaDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaDanhMuc">
      <soap:operation soapAction="http://tempuri.org/IServiceDanhMucSP/XoaDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDanhMuc">
      <soap:operation soapAction="http://tempuri.org/IServiceDanhMucSP/ThemDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDanhMucSP">
    <wsdl:port name="BasicHttpBinding_IServiceDanhMucSP" binding="tns:BasicHttpBinding_IServiceDanhMucSP">
      <soap:address location="http://localhost:1932/ServiceDanhMucSP.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>